@{
}

@model IEnumerable<string>

    <div class="ourhead"></div>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="filterbox">
                <a class="btn btn-primary" asp-controller="Home" asp-action="@ViewBag.Action" asp-route-county="" asp-route-pageNum="1">Home</a>

                @foreach (string c in Model)
                {
                    <a asp-controller="Home" asp-action="@ViewBag.Action" asp-route-county="@c" asp-route-pageNum="1"
                       class="btn @(ViewBag.SelectedCounty == c ?  "btn-primary": "btn-secondary")">@c</a>
                }
            </div>
        </main>
    </div>



