@{
    ViewData["Title"] = "Admin Crash Summary";
}


@model CrashesViewModel
<div class="ourhead">

</div>
<div class="text-center">
    <h1 class="display-4" style="font-weight: bold; font-style: italic; color: white">Administration Page</h1>
</div>
<br />
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-2">
                <vc:filters></vc:filters>
            </div>
            <div class="col-10">
                <table class="table table-bordered table-striped" style="background-color: white; border: 2px solid; border-radius: 20px; border-style: hidden; box-shadow: 0 0 0 2px #5A87C5">

                    <thead class="font-weight-bold">
                        <tr>
                            <td style="border: 2px solid; border-color: #5A87C5">Crash Id</td>
                            <td style="border: 2px solid; border-color: #5A87C5">Crash Date</td>
                            <td style="border: 2px solid; border-color: #5A87C5">County</td>
                            <td style="border: 2px solid; border-color: #5A87C5">Crash Severity</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.Crashes)
                        {
                            <tr>
                                <td style="border: 2px solid; border-color: #5A87C5">@c.CRASH_ID</td>
                                <td style="border: 2px solid; border-color: #5A87C5">@c.CRASH_DATE</td>
                                <td style="border: 2px solid; border-color: #5A87C5">@c.COUNTY_NAME</td>
                                <td style="border: 2px solid; border-color: #5A87C5">@c.CRASH_SEVERITY_ID</td>

                                <td style="border: 2px solid; border-color: #5A87C5"><a class="edit-delete" asp-controller="Home" asp-action="Edit" asp-route-CrashId="@c.CRASH_ID">Edit</a></td>
                                <td style="border: 2px solid; border-color: #5A87C5"><a class="edit-delete" asp-controller="Home" asp-action="Delete" asp-route-CrashId="@c.CRASH_ID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div page-blah="@Model.PageInfo" page-action="CrashSummary" class="btn-group"></div>
        @*<form method="post">
                <label>Jump to Page:</label>
                <input type="number" />
                <button type="submit" asp-controller="Home" asp-action="pageJump" class="btn btn-secondary">Go</button>
            </form>*@
        <p>Page @Model.PageInfo.CurrentPage of @Model.PageInfo.TotalPages Pages</p>
    </main>
</div>

